body {
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Special Elite', cursive;
}

#header {
   border-radius: 0; 
   background-color: rgba(58, 212, 27, 0.466);
}

#header:hover {
    background-color: rgba(40, 124, 197, 0.575);
    cursor:default;
}

#footer {
    margin-top: 35%;
    background-color: rgba(112, 112, 112, 0.904);
    border: black 1px solid;
    color: white;
    font-weight: bold;
    padding: 0.3%;
    font-size: 15px;
}

#a {
    color: white;
}

canvas {
    border: 1px black solid;
    margin-top: 5%;
}